:root {
    font-size: clamp(1px, 1vh, 16px);
}

html, body {
    width: 100%;
    height:100%;
    margin: 0px;
    padding: 0px;
}

.main {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#react-root {
    height: 100%;
    width: 100%;
}

.babylon-canvas {
    width: 100%;
    height: 100%;
    outline: none;
    position: relative;
}

.gizmo-mode-switch {
    position: absolute;
    transition: max-width 1s, left 0.2s, top 0.2s;
}

.gui {
    overflow: hidden;
    color: whitesmoke;
    background-color: dimgray;
    pointer-events: all;
}

.gui .icon:not(.selected):hover {
    background-color: gray;
    color: whitesmoke;
}

.side-menu {
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin: 0.5em;
    user-select: none;
    gap: 0.3em;
}

.gizmo-gui-center {
    user-select: none;
    position: absolute;
    color: whitesmoke;
    pointer-events: none;
}

.gizmo-gui-center>svg {
    color: dimgray;
    pointer-events: none;
}

.icon {
    margin-right: 0.1px;
    font-size: 66%;
    transition: font-size 1s, padding 1s;
}

.align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings-array {
    overflow: hidden;
    display: flex;
    font-size: 66%;
    height: 100%;
}

.option {
    width: 2em;
    height: 2em;
}

.option:not(.selected):hover {
    background-color: gray;
    color: whitesmoke;
}

.centered {
    transform: translate(-0.5em, -0.5em);
}

.dialog-backdrop {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #80808080;
    backdrop-filter: blur(10px);
    transition: clip-path 1s, visibility 1s;
}

.dialog {
    position: relative;
    box-sizing: border-box;
    background-color: whitesmoke;
    top: 0;
    left: 0;
    margin: 10vh 10vw;
    width: 80vw;
    height: 80vh;
    border-radius: 2rem;
    z-index: 10;
    padding: 2rem;
    font-size: large;
}

.close-btn {
    font-size: 90%;
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: red;
    color: whitesmoke;
    width: 2em;
    height: 2em;
    border: none;
}

.round {
    border-radius: 1em;
}

.setting {
    padding: 0.3em;
    overflow: hidden;
    white-space: nowrap;
}

.setting-container:not(.selected):hover {
    background-color: gray;
    color: whitesmoke;
}

.selected {
    background-color: darkgray;
    color: #393939;
}

.setting-container {
    overflow: hidden;
    height: 100%;
    transition: max-width 1s, font-size 1s, outline-width 1s;
}

.outline {
    outline: whitesmoke solid 0.5px
}

.width-hidden {
    max-width: 0;
    outline-width: 0px;
}

svg .outline {
    outline: none;
    color: whitesmoke;
}

.hidden {
    display: none;
}