.main {
    position: relative;
    overflow: hidden;
    font-size: 2vmin;
}

.babylon-canvas {
    width: 100%;
    height: 100%;
    outline: none;
    position: relative;
}

.gizmo-mode-switch {
    display: flex;
    align-items: center;
    position: absolute;
    /*height: 1.6em;*/
    transition: max-width 1s;
}

.gui {
    overflow: hidden;
    color: whitesmoke;
    background-color: dimgray;
    outline: whitesmoke solid 0.5px;
}

.gui .icon:not(.selected):hover {
    background-color: gray;
}

.side-menu {
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin: 0.5em;
    user-select: none;
    gap: 0.3em;
}

.gizmo-gui-center {
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
    position: absolute;
    color: whitesmoke;
}

.icon {
    margin-right: 0.1px;
    font-size: 66%;
}

.align {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: font-size 1s, padding 1s;
}

.options {
    overflow: hidden;
    display: flex;
    font-size: 66%;
}

.option {
    width: 2em;
    height: 2em;
}

.centered {
    transform: translate(-0.5em, -0.5em);
}

.round {
    border-radius: 1em;
}

.test {
    padding: 0.3em;
    overflow: hidden;
    white-space: nowrap;
}

.test2:hover {
    background-color: gray;
}


.test2 {
    overflow: hidden;
    outline: whitesmoke solid 0.5px;
    transition: max-width 1s, font-size 1s;
}