.main {
    position: relative;
    overflow: hidden;
}

.babylon-canvas {
    width: 100%;
    height: 100%;
    outline: none;
    position: relative;
}

.gizmo-mode-switch {
    position: absolute;
    padding: 0.3em;
    background-color: darkgray;
    height: 1em;
    width: 1em;
}

.bi { 
    display: flex;
    align-items: center;
}

.selected {
    background-color: blueviolet;
    color: whitesmoke;
}

.gizmo-gui-center {
    user-select: none;
    position: absolute;
}

.centered {
    transform: translate(-50%, -50%);
}

.round {
    border-radius: 50%;
}

.test {
    position: absolute;
    background-color: blueviolet;
    padding: 0.3em;
}